.app {
 padding: 1em 3em;
 background: url("./assets/background.jpg") no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.recipe-image {
  height: 250px;
  margin-bottom: 1em;
}


.summary {
  font-weight: 600;
}


.col-3 .rounded {
  border: 2px solid grey;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
}


h4 {
  margin-bottom: 1.5em;
}


.ingredient-image {
  height: 120px;
}


ul {
  list-style-type: none;
  font-weight: 600;
}